# Created by https://www.toptal.com/developers/gitignore/api/windows
# Edit at https://www.toptal.com/developers/gitignore?templates=windows

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp
*.exe

# Windows shortcuts
*.lnk

# End of https://www.toptal.com/developers/gitignore/api/windows

# 특정 폴더 및 파일 무시
# Day103_240711/Day1 - class 6 - 비즈니스 컴포넌트 실습 1 문제/
Day102_240710/0. 스프링 설치/스프링 초기설정 동영상/
Day102_240710/0. 스프링 설치/spring-tool-suite-3.9.18.RELEASE-e4.21.0-win32-x86_64.zip
Day112_240724/스프링 게시판 문제/
Day112_240724/0. 시험문제/
Day113_240725/0. 시험문제/